.header {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(11, 109, 220);
    margin-bottom: 3px;
}

.header ul {
    list-style: none;
    display: flex;
    align-items: baseline;
    margin-right: 55px;
  }

  .header li {
    margin-left: 3rem;
  }
