/* main container-------------------- */
.container {
    background-color: white;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    /* margin-bottom: 5px; */
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10%;
}

/* filtersortbar------------------------- */
.filtersortbarmain {
    background: white;
    /* border: 1px solid lightgrey; */
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin: 5px 5px 5px 5px;
    display: grid;
    grid-template-columns: 55% 45%;
    white-space: nowrap;
}

.rightdiv {
    /* border: 1px solid black; */
    display: inline-block;
    position: relative;
}

.leftdiv {
    /* border: 1px solid black; */
    position: relative;

}

.title {
    color: #0F4C85;
    font-size: 24px;
    font-family: sans-serif "open sans";
    /* background-color: grey; */
    /* position: absolute; */
    margin-top: 7px;
    padding-left: 3px;
    font-weight: bold;
}

.location {
    color: #00305B;
    font-size: 10px;
    font-family: sans-serif "open sans";
    line-height: 20px;
    /* background-color: coral; */
    position: absolute;
    top: 50%;
    padding-left: 3px;
}

.buttonsdiv {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 8px;
    padding-bottom: 8px;
}

.filterbutton {
    border-radius: 3px;
    background-color: #f2f2f2;
    border: 1px solid lightgrey;
    color: #00305B;
    font-size: 16px;
    font-family: sans-serif "open sans";
    width: 68px;
}

.filterbutton:hover {
    background-color: lightgray;
    border: 1px solid lightgray;
}

.sortbutton {
    border-radius: 3px;
    background-color: #f2f2f2;
    border: 1px solid lightgrey;
    color: #00305B;
    font-size: 16px;
    font-family: sans-serif "open sans";
    margin-left: 5px;
}

.sortbutton:hover {
    background-color: lightgray;
    border: 1px solid lightgray;
}

/* driverlist------------------------------- */
.driverlistmain {
    background: white;
    border-radius: 6px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); */
    margin: 0px 5px 5px 5px;
    overflow-y: auto;
    overflow-x: hidden;
}